.projects-page {
  margin: 0.5rem;
  min-width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  box-shadow: 2px 2px 8px rgba(109, 114, 117, 0.35);
  border-radius: 0.5rem;
  gap: 1rem;
}

.block-content {
  border-radius: 0.3rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  border: double 0.3rem #6D7275;
}

h3 {
  font-size: 1.6rem;
  margin: 12px;
  padding: 2px 10px 8px 10px;
  font-style: oblique;
  border-bottom: double 0.3rem 
#C20114;
}
.project-block {
  border: double 0.3rem #6D7275;
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: double 0.3rem 
#C20114;
}

.project-header a {
  text-transform: none;
  color: #ECEBF3;
}

.project-title {
  padding: 0.5rem;
  font-size: 2rem;
  text-align: center;
}

.github {
  font-size: 1.2rem;
  align-self: flex-end;
}