.footer {
  align-self: flex-end;
  background-color: #0C120C;
  font-size: 1rem;
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -3px 8px rgba(109, 114, 117, 0.5);
  position: absolute;
  bottom: 0px;
  color: #C20114;
  font-family: monospace;
}

a {
  text-decoration: none;
  color: #C7D6D5;
  padding: 5px;
  text-transform: uppercase;
  align-self: center;
  justify-content: center;
}
