.footer {
  align-self: flex-end;
  background-color: #0C120C;
  font-size: 12px;
  height: 26px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -3px 8px rgba(109, 114, 117, 0.5);
  position: absolute;
  bottom: 0px;
}
