.footer {
  height: 2rem;
  align-self: flex-end;
  background-color: #0C120C;
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -5px 25px  rgba(109, 114, 117, 0.2);
  position: fixed;
  bottom: 0px;
  color: #C20114;
  font-family: monospace;
}

a {
  align-self: center;
  text-decoration: none;
  color: #C7D6D5;
  padding: 0 5px;
  text-transform: uppercase;
}
