nav {
  top: 0;
  padding: 0 1rem 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0C120C;
  box-shadow: 0px 5px 25px rgba(109, 114, 117, 0.2);
}

.menu-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-head h3 {
  align-self: center;
  color: transparent;
  font-size: 2rem;
  margin: 0.1rem 10px 0.25rem;
  -webkit-text-stroke: 0.08rem #ECEBF3;
  letter-spacing: 0.33rem;
  text-transform: uppercase;
  text-align: center;
}

.menu-pages {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-around;
  font-family: monospace;
  align-items: center;
  border: double 0.3rem #6D7275;
  border-radius: 0.3rem;
  padding: 2px;
}

.menu-pages p {
  font-size: 1rem;
  color: #C20114;
}

.menu-pages a { 
  font-size: 1.2rem;
  color: #C7D6D5;
  text-decoration: none;
  font-family: monospace;
}