nav {
  padding: 0px 15px 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0C120C;
  box-shadow: 0px 3px 8px rgba(109, 114, 117, 0.5);
}

.menu-head {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-head h3 {
  padding: 5px;
  align-self: center;
  color: transparent;
  font-size: 2rem;
  margin: 2px 10px;
  -webkit-text-stroke: 1px #ECEBF3;
  letter-spacing: 0.33rem;
  text-transform: uppercase;
  text-align: center;
}

.menu-pages {
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: space-around;
  font-family: monospace;
  align-items: center;
  border: double 0.3rem #6D7275;
  border-radius: 0.3rem;
}

.menu-pages p {
  font-size: 1rem;
  color: #C20114;
}

.menu-pages a { 
  font-size: 1.2rem;
  color: #C7D6D5;
  text-decoration: none;
  font-family: monospace;
}