.home-block {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 1rem;
}

.personal-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* ### BIO ### */

.bio-block {
  width: 60%;
  min-width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  /* box-shadow: 2px 2px 8px rgba(109, 114, 117, 0.5); */
  /* box-shadow: 0 0 0 rgba(109, 114, 117, 0.35); */
  /* border-radius: 0.4rem; */
  animation: pulseShadow 5s infinite;
  animation-delay: 0.25s;
  animation-timing-function: ease-in-out;
}

@keyframes pulseShadow {
  0% { box-shadow: 0 0 4px rgba(109, 114, 117, 0.35); border-radius: 2rem;}
  50% {box-shadow: 0 0 16px rgba(207, 114, 117, 0.5); border-radius: 0.4rem;}
  100% {box-shadow: 0 0 4px rgba(109, 114, 117, 0.35); border-radius: 2rem;}
}

@keyframes pulseRadius {
  0% {border-radius: 1.5rem;}
  50% {border-radius: 0.3rem;}
  100% {border-radius: 1.5rem;}
  
}

.bio-block .block-content {
  border-radius: 0.3rem;
  margin: 8px;
  display: flex;
  flex-direction: column;
  border: double 0.3rem #6D7275;
  animation: pulseRadius 5s infinite;
  animation-timing-function: ease-in;
  animation-delay: 0.25s;
}

.bio-block h2 {
  font-size: 1.6rem;
  margin: 12px;
  padding: 2px 10px 8px 10px;
  font-style: oblique;
  border-bottom: double 0.3rem 
#C20114;
}

.bio-block h3 {
  font-size: 1.5rem;
  margin: 0px 20px;
}

.bio-block span {
  font-size: 1rem;
  margin: 0rem 1.75rem;
}

.bio-block p {
  margin: 1.25rem;
}

.headshot-block {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 12px rgba(109, 114, 117, 0.35);
  border-radius: 50%;
  padding: 1rem;
  border: double 0.3rem #6D7275;
}

.headshot {
  max-height: 12rem;
  border-radius: 50%;
}
