/* ### CAROUSEL ### */

.carousel {
  overflow: hidden;
  width: 100%;
  height: 15rem;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  height: 100%;
}

.carousel-slide{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: center;
  background-size: cover;
}

.indicator {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  bottom: 3rem;
}

.indicator > button {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgba(65, 76, 82);
  opacity: 0.3;
}

.indicator > button:hover {
  opacity: 0.7;
}

.indicator > button.active {
  opacity: 0.5;
}

.indicator > button.active:hover {
  opacity: 0.9;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-text-stroke: black 1px;
  text-align: center;
}


.subtitle {
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-text-stroke: black 1px;
  text-align: center;
}
