/* ### CAROUSEL ### */

.carousel {
  overflow: hidden;
  width: 100%;
  height: 15rem;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  height: 100%;
}

.carousel-slide{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: cover;
}

.indicator {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  bottom: 2.5rem;
}

.indicator > button {
  -webkit-text-stroke: black 0.5px;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: none;
  opacity: 0.8;
  cursor: pointer;
}

.indicator > button:hover {
  background-color: rgba(165, 176, 182, 0.678)
}

.indicator > button.active {
  background-color: #6D7275;
}