html {
  min-width: 300px;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0C120C;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 7px;
  
}

::-webkit-scrollbar-thumb {
  background: #6D7275;
}

::-webkit-scrollbar-thumb:hover {
  background: #C20114;
}

::-webkit-scrollbar-track {
  background: #0C120C;
}

